<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
   <div class="header">
       <div class="logo">
           <h2 class="moviejs"><a href="/" style="color: white;">movie.js</a></h2>
       </div>
       <div class="list">
           <ul class="ul">
               <li class="li"><a href="/action" class="aa">Action</a></li>
               <li class="li"><a href="" class="aa">Adventure</a></li>
               <li class="li"><a href="" class="aa">Animation</a></li>
               <li class="li"><a href="" class="aa">Comedy</a></li>
               <li class="li"><a href="" class="aa">Crime</a></li>
               <li class="li"><a href="" class="aa">Documentary</a></li>
               <li class="li"><a href="" class="aa">Drama</a></li>
               <li class="li"><a href="" class="aa">Fantasy</a></li>
               <li class="li"><a href="" class="aa">Romance</a></li>
               <li class="li"><a href="" class="aa">Tv movie</a></li>
           </ul>
       </div>
   </div>
</body>
</html>