     <%- include('./layouts/menu') %>
   <div class="movies">
       <Br>
    <a href="https://www1.moviesjoy.net/"><img src="../static/photo/220px-Peninsula_poster.jpg" width="220px" height="340px">
            <div class="des">
                <h4 class="title">Peninsula</h4>
                <div class="min">
                    <p class="para">2020 - 144 min</p>
                </div>
            </div></a>

     <a href="https://www1.moviesjoy.net/"><img src="../static/photo/Ava_poster.jpeg"  width="220px" height="340px">
                <div class="des">
                    <h4 class="title">Ava</h4>
                    <div class="min">
                        <p class="para">2020 - 96 min</p>
                    </div>
                </div></a>

     <a href="https://www1.moviesjoy.net/"><img src="../static/photo/download.jpg"  width="220px" height="340px">
                    <div class="des">
                        <h4 class="title"> Hard Kill</h4>
                        <div class="min">
                            <p class="para">2020 - N/A</p>
                        </div>
                    </div></a>

      <a href="https://www1.moviesjoy.net/"><img src="../static/photo/e.jpg"  width="220px" height="340px">
                        <div class="des">
                            <h4 class="title">Rogue</h4>
                            <div class="min">
                                <p class="para">2020 - 105 min</p>
                            </div>
                        </div></a>

     <a href="https://www1.moviesjoy.net/"><img src="../static/photo/ad.jpg"  width="220px" height="340px">
                            <div class="des">
                                <h4 class="title">The One and Only Ivan</h4>
                                <div class="min">
                                    <p class="para">2020 - 95 min</p>
                                </div>
                            </div></a>
    <a href="https://www1.moviesjoy.net/"><img src="../static/photo/sleep.jpg" width="220px" height="340px">
                            <div class="des">
                                <h4 class="title">The Sleepover</h4>
                                <div class="min">
                                    <p class="para">2020 - 103 min</p>
                                </div>
                            </div></a>
 <a href="https://www1.moviesjoy.net/"><img src="../static/photo/one.jpg" width="220px" height="340px">
                                <div class="des">
                                    <h4 class="title">One Night in Bangkok</h4>
                                    <div class="min">
                                        <p class="para">2020 - 105 min</p>
                                    </div>
                                </div></a>
 
     <a href="https://www1.moviesjoy.net/"><img src="../static/photo/d.jpg" width="220px" height="340px">
         <div class="des">
        <h4 class="title">Chemical Hearts</h4>
       <div class="min">
         <p class="para">2020 - 93 min</p>
       </div>
     </div></a>

     <a href="https://www1.moviesjoy.net/"><img src="../static/photo/sp.jpg" width="220px" height="340px">
        <div class="des">
       <h4 class="title">Superman: Man of Tomorrow</h4>
      <div class="min">
        <p class="para">2020 - 86 min</p>
      </div>
    </div></a>

    <a href="https://www1.moviesjoy.net/"><img src="../static/photo/pr.jpg" width="220px" height="340px">
        <div class="des">
       <h4 class="title">Project Power</h4>
      <div class="min">
        <p class="para">2020 - 113 min</p>
      </div>
    </div></a>

    <a href="https://www1.moviesjoy.net/"><img src="../static/photo/deep.jpg" width="220px" height="340px">
        <div class="des">
       <h4 class="title">Deep Blue Sea 3</h4>
      <div class="min">
        <p class="para">2020 - 99 min</p>
      </div>
    </div></a>

    <a href="https://www1.moviesjoy.net/"><img src="../static/photo/joker.jpg" width="220px" height="340px">
        <div class="des">
       <h4 class="title">Joker</h4>
      <div class="min">
        <p class="para">2019 - 118 min</p>
      </div>
    </div></a>

    <a href="https://www1.moviesjoy.net/"><img src="../static/photo/avg.jpg" width="220px" height="340px">
        <div class="des">
       <h4 class="title">Avengers: Endgame</h4>
      <div class="min">
        <p class="para">2019 - 181 min</p>
      </div>
    </div></a>
                
    <a href="https://www1.moviesjoy.net/"><img src="../static/photo/gun.jpg" width="220px" height="340px">
        <div class="des">
       <h4 class="title">Gundala</h4>
      <div class="min">
        <p class="para">2019 - 119 min</p>
      </div>
    </div></a>
                
    <a href="https://www1.moviesjoy.net/"><img src="../static/photo/last.jpg" width="220px" height="340px">
        <div class="des">
       <h4 class="title">Last Shot</h4>
      <div class="min">
        <p class="para">2020 - N/A</p>
      </div>
    </div></a>
                

    <a href="https://www1.moviesjoy.net/"><img src="../static/photo/fe.png" width="220px" height="340px">
        <div class="des">
       <h4 class="title">Fearless</h4>
      <div class="min">
        <p class="para">2019 - 89 min</p>
      </div>
    </div></a>
                

    <a href="https://www1.moviesjoy.net/"><img src="../static/photo/ince.jpg" width="220px" height="340px">
        <div class="des">
       <h4 class="title">Inception</h4>
      <div class="min">
        <p class="para">2010 - 148 min</p>
      </div>
    </div></a>
                

    <a href="https://www1.moviesjoy.net/"><img src="../static/photo/grey.jpg" width="220px" height="340px">
        <div class="des">
       <h4 class="title"> Greyhound</h4>
      <div class="min">
        <p class="para">2020 - 85 min</p>
      </div>
    </div></a>
                
                        

       
   </div>
